<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegacion superior -->
	<nav th:replace="fragments/nav" />

	<div class="container">
		<h2>Detalles de la incidencia</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${incidence.nombre}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Descripcion</div>
			<div class="panel-body" th:text="${incidence.descripcion}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Localizacion</div>
			<div class="panel-body"
				th:text="${incidence.localizacion.getLatitude()} + ' ; ' + ${incidence.localizacion.getLongitud()}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Estado</div>
			<div class="panel-body" th:text="${incidence.estado}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Comentarios</div>
			<div class="panel-body" th:text="${incidence.comments}"></div>
		</div>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>